/* root */
.Container a {
    text-decoration: none;
}

.TextCard {
    color: #666666;
    text-align: left;
    font-size: 11pt;
    word-break: normal;
}

.Container {
    /* border: #AD0808 1px solid; */
    margin: 0 1.5em 0 1.5em;
}

.Cards {
    width: 100%;
    background-color: #F6F6F7;

    border-radius: .8em;
    box-shadow: 0 .5em .5em 0 rgba(0, 0, 0, 0.2);

    margin-bottom: 1.5em;
    padding: 1em;
}

.TopTitleCard {
    /* border: #730504 1px solid; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding-bottom: 1em;
}

.imgToptitleCard{
    /* margin-top: 1em; */
    /* margin-left: 1.5em; */
    padding-right: 1em;
}

.textToptitleCard {
    color: #730504;
    text-align: left;
}

.btnAudio {
    background-color: #AD0808 ;
    color: #F6F6F7;
    box-shadow: 0 .5em .5em 0 rgba(0, 0, 0, 0.2);

    border: none;
    border-radius: .5em;
    padding: .8em;
    margin: -.5em 0 0 0;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.ContentCard {
    /* border: #730504 1px solid; */
    margin-top: 1.5em;
}

.imgContent {
    padding: 0 2em 0 2em;
    display: flex;
    justify-content: center;
}

.TextContent {
    padding-top: 1em;

    font-size: 11pt;
    text-align: justify;

    color: #666666;

    word-break: normal;
}

.dividerTxtImg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    padding: 1em 0 1em 0;
}

.box1 {
    /* border: #730504 1px solid; */
    width: 48%;
    display: flex;
    align-items: left;
}
.box2 {
    /* border: #666666 1px solid; */
    width: 48%;
}

.btnsPvNxt {
    margin: 3em 0 -1em 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btnPrev {
    width: 6.2em;
    background-color: #AD0808 ;
    color: #F6F6F7;
    box-shadow: 0 .5em .5em 0 rgba(0, 0, 0, 0.2);

    border: none;
    border-radius: .5em;
    padding: .8em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.backToMenu {
    color: #730504;
    text-decoration: underline !important;

    font-weight: 600;
}

.btnNext {
    width: 6.2em;
    background-color: #AD0808 ;
    color: #F6F6F7;
    box-shadow: 0 .5em .5em 0 rgba(0, 0, 0, 0.2);

    border: none;
    border-radius: .5em;
    padding: .8em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* tela inicial */
.Title {
    margin: 0 0 1em 0;

    font-weight: bold;
    color: #AD0808;
}

.MainCards {
    width: 100%;
    height: 6em;

    background-color: #F6F6F7;
    margin-bottom: 1.5em;

    border-radius: .5em;
    box-shadow: 0 .5em .5em 0 rgba(0, 0, 0, 0.2);

    display: flex;
}

.BackgroundIcon {
    width: 30%;

    border-radius: .5em 0 0 .5em;
    background-color: #FFC1C1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ContentMainCard {
    margin-left: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.TitleCard{
    color: #730504;
    text-align: left;
    margin-bottom: .5em;
}

/* tela - o que é  */





